/* Main / Contacto*/ 

.contacto{
    background-color: $colortres;
    padding-top: 30px;
    padding-bottom: 30px;
     h3{
        color: $colorcuatro;
        text-align: center;
     }
      .contenedor-contacto{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 30px;
         div{
            display: flex;
             img{
                width: 60px;
                border-radius: 25px;
             }
              h4{
               margin: 15px;
               color: $colorcuatro;
              }
         }
      }
}