/* Main / Portfolio*/

.contenedor-portfolio{
    background-color: $colortres;
    margin-top: -16px;
    padding-bottom: 10px;
     .portfolio h2{
        text-align: center;
        color: $colorcuatro;
        padding-top: 20px;
     }
       h3{
        text-align: center;
        color: $colorcinco;
       }
        .card-wrap{
            display: flex;
           flex-flow: wrap;
            .card{
       background-color: $colorocho;
       margin-top: 30px;
       margin-bottom: 30px;
       margin-left: 40px;
       border-radius: 20px;
       transition: all 0.25s;
       box-shadow: 0 0 12px $colornueve;
        &:hover{
          transform: translateY(-15px);
        }
          .card-body h3{
            color: $colorcuatro;
          }
           p{
            color: $colorcinco;
            text-align: center;
           }
             .boton-portfolio{
           display: flex;
           justify-content: space-evenly;
             .btn{
            background-color: $colorseis;
            color: $colorcinco;
            border-radius: 20px;
            padding: 5px 15px;
             &:hover{
                background-color: $coloruno;
             }
            }
         }
      }
    }
  }
